body {
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(100,130,159,1) 0%, rgba(103,56,96,1) 90% );
    font-family: 'Press Start 2P', cursive;
    font-size: 14px;
    margin-top: 10px;
    height: 800px;
}

.bloco {
    box-shadow: inset 2px 2px rgb(152, 152, 152);
    box-sizing: border-box;
    margin: 1px;
    background-color: rgb(210, 210, 210);
    border: 2px solid black;
    width: 25px;
    height: 25px;
    content-visibility: hidden;
}

.bloco-clicked[valor="0"] {
    box-sizing: border-box;
    margin: 1px;
    background-color: rgb(198, 198, 198);
    border: 1px solid rgb(137, 137, 137);
    width: 25px;
    height: 25px;
    content-visibility: hidden;
}

.bloco-clicked[valor="1"] {
    box-shadow: inset 1px 1px rgb(152, 152, 152);
    box-sizing: border-box;
    margin: 1px;
    color: blue;
    background-color: rgb(198, 198, 198);
    border: 2px solid rgb(85, 85, 85);
    width: 25px;
    height: 25px;
    content-visibility: visible;
}

.bloco-clicked[valor="2"] {
    box-shadow: inset 1px 1px rgb(152, 152, 152);
    box-sizing: border-box;
    margin: 1px;
    color: green;
    background-color: rgb(198, 198, 198);
    border: 2px solid rgb(85, 85, 85);
    width: 25px;
    height: 25px;
    content-visibility: visible;
}

.bloco-clicked[valor="3"] {
    box-shadow: inset 1px 1px rgb(152, 152, 152);
    box-sizing: border-box;
    margin: 1px;
    color: red;
    background-color: rgb(198, 198, 198);
    border: 2px solid rgb(85, 85, 85);
    width: 25px;
    height: 25px;
    content-visibility: visible;
}

.bloco-clicked[valor="4"] {
    box-shadow: inset 1px 1px rgb(152, 152, 152);
    box-sizing: border-box;
    margin: 1px;
    color: darkblue;
    background-color: rgb(198, 198, 198);
    border: 2px solid rgb(85, 85, 85);
    width: 25px;
    height: 25px;
    content-visibility: visible;
}

.bloco-clicked[valor="5"] {
    box-shadow: inset 1px 1px rgb(152, 152, 152);
    box-sizing: border-box;
    margin: 1px;
    color: maroon;
    background-color: rgb(198, 198, 198);
    border: 2px solid rgb(85, 85, 85);
    width: 25px;
    height: 25px;
    content-visibility: visible;
}

.bloco-clicked[valor="6"] {
    box-shadow: inset 1px 1px rgb(152, 152, 152);
    box-sizing: border-box;
    margin: 1px;
    color: darkcyan;
    background-color: rgb(198, 198, 198);
    border: 2px solid rgb(85, 85, 85);
    width: 25px;
    height: 25px;
    content-visibility: visible;
}

.bloco-clicked[valor="7"] {
    box-shadow: inset 1px 1px rgb(152, 152, 152);
    box-sizing: border-box;
    margin: 1px;
    color: black;
    background-color: rgb(198, 198, 198);
    border: 2px solid rgb(85, 85, 85);
    width: 25px;
    height: 25px;
    content-visibility: visible;
}

.bloco-clicked[valor="8"] {
    box-shadow: inset 1px 1px rgb(152, 152, 152);
    box-sizing: border-box;
    margin: 1px;
    color: darkgrey;
    background-color: rgb(198, 198, 198);
    border: 2px solid rgb(85, 85, 85);
    width: 25px;
    height: 25px;
    content-visibility: visible;
}

.bloco-clicked-bandeira {
    box-shadow: inset 1px 1px rgb(152, 152, 152);
    box-sizing: border-box;
    margin: 1px;
    background-color: rgb(210, 210, 210);
    border: 2px solid rgb(0, 0, 0);
    width: 25px;
    height: 25px;
    content: url('imgs/flag-original-transparente.png');
}

.bloco-mina-clicked {
    box-shadow: inset 1px 1px rgb(152, 152, 152);
    box-sizing: border-box;
    margin: 1px;
    background-color: red;
    border: 2px solid rgb(0, 0, 0);
    width: 25px;
    height: 25px;
    content: url('imgs/bomb.png');
}

.bloco-mina-game-over {
    box-shadow: inset 1px 1px rgb(152, 152, 152);
    box-sizing: border-box;
    margin: 1px;
    background-color: rgb(210, 210, 210);
    border: 2px solid rgb(0, 0, 0);
    width: 25px;
    height: 25px;
    content: url('imgs/bomb.png');
}

#jogo > div {
    display: flex;
    flex-direction: row;
    text-align: center;
    line-height: 25px;
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
}

#jogo > div:nth-last-child(1){
    display: flex;
    flex-direction: row;
    text-align: center;
    line-height: 25px;
    justify-content: center;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
}

h1 {
    text-shadow: 1px 1px 3px rgb(197, 197, 197);
    text-align: center;
    margin: 20px;
    padding: 20px;
}

#timer {
    margin-bottom: 20px;
}

#contador {
    margin-top: 20px;
}

#jogo {
    box-shadow: 1px 1px 3px 3px rgb(35, 35, 35);
    visibility: hidden;
    border: 3px solid rgb(57, 57, 57);
    background-color: rgb(190, 190, 190);
    width: fit-content;
    margin: auto;
    margin-top: 10px;
}

#tela-inicial {
    box-shadow: 1px 1px 3px 3px rgb(35, 35, 35);
    border: 3px solid rgb(57, 57, 57);
    background-color: rgb(190, 190, 190);
    width: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
}

option, select {
    box-shadow: 0px 0px 1px 1px rgb(121, 121, 121);
    padding: 3px;
    font-family: 'Press Start 2P', cursive;
    font-size: 10px;
}

.entrada {
    margin: 7px;
}

#linhas-colunas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
    margin-right: 20px;
}

#dificuldade-botao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
    margin-left: 20px;
}

#iniciar {
    box-shadow: 0px 0px 1px 1px rgb(121, 121, 121);
    margin: auto;
    padding: 5px;
    font-family: 'Press Start 2P', cursive;
    font-size: 8px;
    width: 60%;
}
